/*Properties Global*/
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
img, video {
    width: 100%;
    height: auto;
}
/*HEADER*/
header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(211, 179, 212) 10%, rgb(146, 161, 177) 35%, rgb(228, 224, 224) 80%);
    padding: 3px 15px;
    box-shadow: 0 0 2.3px 1px grey;
}
header span.header__title {
    color: white;
    text-transform: capitalize;
}
section > h1.main-section__title {
    text-align: center;
    font-weight: bold;
    text-shadow: -2px 2px 1px rgb(221, 153, 198);
}
/**MAIN SECTION LIST**/
ul.container-list__items {
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
}
ul > li.list__title {
    padding:  10px 20px;
    align-self: center;
}   
ul > ol.list__items {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    padding: 10px 20px;
    align-content: center;
    justify-content: center;
    font-weight: 600;
    background-color: rgba(243, 237, 237, 0.562);
}
ol.list__items li.card-item {
    background-color: rgb(219, 219, 233);
    padding: 10px 0px;
    width: 300px;
    border-radius: 3px;
}
ol.list__items li.card-item a[href*="bbc"] {
    display: block;
    width: 100%;
    text-decoration: none;
}
ol.list__items li.card-item figure {
    margin: 0;
    font-weight: initial;
    font-size: 70%;
}
/***SECTION VIDEO ***/
section.media-section-video {
    background-color: rgb(228, 224, 224);
    display: flex;
    justify-content: center;
}
section.media-section-video video {
    max-width: 430px;
    padding: 10px;
}