/*Properties Global*/
*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img, video {
    width: 100%;
    height: auto;
}
/*HEADER*/
header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(211, 179, 212) 10%, rgb(146, 161, 177) 35%, rgb(228, 224, 224) 80%);
    padding: 3px 15px;
    box-shadow: 0 0 2.3px 1px grey;
}
header span.header__title {
    color: white;
    text-transform: capitalize;
}
section > h1.main-section__title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: -2px 2px 1px rgb(221, 153, 198);
}
/**MAIN SECTION LIST**/
ul.container-list__items {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1.6rem;
    padding: 10px 0px;
}
ul > li.list__title {
    padding:  0px 20px;
    align-self: center;
}   
li.list__title ~ ol.list__items {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-content: center;
    justify-content: flex-start;
    font-weight: 600;
    background-color: rgba(243, 237, 237, 0.562);
}
ol.list__items li.card-item {
    background-color: rgb(219, 219, 233);
    padding: 10px 0px;
    width: 95%;
    max-width: 300px;
    border-radius: 3px;
}
ol.list__items li.card-item a[href*="bbc"] {
    display: block;
    width: 100%;
    text-decoration: none;
}
ol.list__items li.card-item figure {
    margin: 0;
    font-weight: initial;
    font-size: 1rem;
}
img + figcaption {
    color: black;
}
/***SECTION VIDEO ***/
section.media-section-video {
    background-color: rgb(228, 224, 224);
    display: flex;
    justify-content: center;
}
section.media-section-video video {
    max-width: 500px;
    padding: 15px 0;
}
/**** SECTION FORM ****/
section.media-section-form {
    background-color: rgb(146, 161, 177);
    padding: 30px 0;
}
form[name="goodfood"] {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
form > label {
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
form label > span.detail-required::after {
    content: " * ";
    position: absolute;
    color: red;
}
form input{
    color: gray;
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 1.6rem;
}
select[name="packing"] {
    margin-left: 10px;
}
.btn-form {
    background-color: black;
    padding: 15px 0;
    margin-top: 35px;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    letter-spacing: 1px;
    color: white;
}
.btn-form:hover {
    background-color: teal;
}
.btn-form:focus {
    font-weight: 700;
}
/***** FOOTER *****/
footer {
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-end;
    height: 30px;
}
footer > p.more-details {
    margin-left: 15px;
}